.App{
  height: 110vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  background-position: center;

}